work_dir: ./work_dir/SHREC/hyperhand_bone_final

model: net.ctrgcn.Model
model_args:
  in_channels: 3
  base_channels: 64
  ch_ratio: 2
  num_stages: 10
  inflate_stages: [ 5, 8 ]
  down_stages: [ 5, 8 ]
  data_bn_type: 'VC'
  num_person: 1
  pretrained: None
  num_class: 14·
  num_point: 22
  drop_out: 0.0
  graph: graph.shrec.Graph
  graph_args:
    labeling_mode: 'spatial'
  num_hyperedges: 16
  adaptive: true

train_feeder: feeder.feeder_egogesture.Feeder
test_feeder: feeder.feeder_egogesture.Feeder

train_feeder_args:
  data_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/train_data.npy
  label_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/train_label.pkl
  split: train
  bone: True
  vel: False
  window_size: 180         # ⬆️ 关键：捕捉完整运动轨迹
  normalization: False     # ❌ 关闭：保留速度的物理幅值
  random_choose: True
  random_move: False
  random_shift: False
  repeat: 5 # 重复
  debug: False
  use_mmap: True

test_feeder_args:
  data_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/val_data.npy
  label_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/val_label.pkl
  split: test
  bone: True
  vel: False
  window_size: 180
  normalization: False
  debug: False
  use_mmap: True

#optim
weight_decay: 0.0005
base_lr: 0.05
lr_decay_rate: 0.1
step: [70, 100]
warm_up_epoch: 5
num_epoch: 150
device: [0]
batch_size: 32
test_batch_size: 32
nesterov: True
grad_clip_norm: 1.0
loss: torch.nn.CrossEntropyLoss
