work_dir: ./work_dir/SHREC/hyperhand_joint_final

model: net.ctrgcn.Model
model_args:
  in_channels: 3
  num_class: 14
  num_point: 22
  num_person: 1
  drop_out: 0.0
  graph: graph.shrec.Graph
  graph_args:
    labeling_mode: 'spatial'
  num_hyperedges: 16
  adaptive: true

train_feeder: feeder.feeder_egogesture.Feeder
test_feeder: feeder.feeder_egogesture.Feeder

train_feeder_args:
  data_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/train_data.npy
  label_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/train_label.pkl
  split: train
  bone: False
  vel: False

  window_size: 180         # ⬆️ 关键：捕捉完整运动轨迹
  normalization: False     # ❌ 关闭：保留速度的物理幅值
  random_choose: True
  random_move: False
  random_shift: False
  debug: False
  use_mmap: True

test_feeder_args:
  data_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/val_data.npy
  label_path: /Users/gzp/Desktop/exp/DATA/SHREC2017_data/val_label.pkl
  split: test
  bone: False
  vel: False
  window_size: 180
  normalization: False
  debug: False
  use_mmap: False

optimizer: AdamW
base_lr: 0.0002
weight_decay: 0.05
step: [100, 140]
num_epoch: 160

device: [0]
batch_size: 32
test_batch_size: 32
grad_clip_norm: 1.0
loss: torch.nn.CrossEntropyLoss
